.vs
chap/Debug
chap/chap/Debug
chap/chap/x64
chap/x64
dataStructure-and-Algorithms/Debug
dataStructure-and-Algorithms/dataStructure-and-Algorithms/Debug
Window-api/Debug
Window-api/Window-api/Debug
Window-api/Window-api/x64
Window-api/x64
side-project\coin_game\.vs
side-project\coin_game\Debug
side-project\coin_game\x64
side-project\coin_game\coin_game\Debug
side-project\socket_study\.vs
side-project\socket_study\Debug
side-project\socket_study\x64
side-project\socket_study\socket_study\Debug